@tailwind base;
@tailwind components;
@tailwind utilities;




/* Light theme */
body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dark theme */
body.dark {
  --bg-color: #1a202c;
  --text-color: #ffffff;
}

/* Apply the colors */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Other global styles */
.title {
  font-size: 1.25rem;
  /* text-xl */
  font-weight: 600;
  /* font-semibold */
}

@media (min-width: 768px) {
  .title {
    font-size: 1.5rem;
    /* text-2xl */
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 1.875rem;
    /* text-3xl */
  }
}